body{
font-family: Arial;
line-height: 25px;
}

img {
    width: 100%;
}

.column{
    width: 600px;
    margin: 40px auto;
}

h1{
    font-size: 60px;
    font-family: Georgia;
}

h1,h2{
    text-shadow: 5px 5px 3px rosybrown;

}
