body{
font-family: Arial;
line-height: 25px;
background-color: powderblue;
margin: 0px;
}

img {
    width: 100%;
}

.column{
    width: 600px;
    margin: 0px auto;
    background-color: white;
    padding: 1px 40px 40px 40px;
    border-left: solid 25px pink;
    border-right: solid 25px pink;

}

h1{
    font-size: 60px;
    font-family: Georgia;
}