body{
font-family: Arial;
line-height: 25px;

}

img {
    width: 100%;
}

.column{
    width: 600px;
    margin: 40px auto;

    border: dotted 20px pink;
   padding: 30px;
}

p{
    border-radius: 25px;
    border: solid 5px lavender ;
    padding: 5px;

}


